html {
    background-color: #0e021f;
}

text, .leg_text, .legend_desc, .leg-title {
    fill: #fbf7ff;
    font-family: sans-serif;
    font-size: 12px;
}

.leg-title {
    font-size: 15px;
    opacity: 0.8;
}

.legend_desc {
    font-size: 15px;
    font-weight: bold;
}

.intro-words, .reader {
    height: 100vh;
}

.viz {
    width: 50%;
    float: right;
    margin-right: 5%;
    /* margin-top: 15px; */
    position: sticky;
    top: 35px;
}

.word-panel {
    margin-left: 7%;
    margin-top: 1.5%;
    min-height: 1800px;
    width: 33%;
    font-family: serif;
    color: #fbf7ff;
    position: relative;
    overflow: scroll;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 4%;
    margin-bottom: 0;
}

p {
    padding-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.45;
    opacity: .8;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

a:link {
    color: #fbf7ff;
    text-decoration: wavy underline;
}

a:hover {
    color: #fbf7ff;
    text-decoration: underline
}

a:visited {
    color: #fbf7ff;
    text-decoration: underline
}

div.tooltip { 
    position: absolute;     
    text-align: left; 
    max-width: 190px;          
    height: auto;  
    padding: 5px;       
    font-family: Arial, Helvetica, sans-serif;   
    background: white; 
    /* pointer-events: none;    */
}

.tooltip_text > a:link {
    color: #0e021f;
}

.tooltip_text > a:hover {
    color: #0e021f;
    text-decoration: underline
}

.tooltip_text > a:visited {
    color: #0e021f;
    text-decoration: underline
}